#box{
    border:5px solid green;
    width: 300px;
    margin-left : auto;
    margin-right: auto;
    padding : 5px;
    text-align:center;

    color:blue;
    background-color:aqua;


}

#image 
{
    width:225px;
    margin-left:auto;
    margin-right:auto;
    display:block;
}